
name: Build and deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
   
jobs:
  build:
   name: Build Next.js Application
   runs-on: ubuntu-latest
   permissions:
     contents: read
     packages: write

   steps:
     - name: Checkout repository
       uses: actions/checkout@v3
     
     - name: Run npm install
       run: npm install

     - name: Run npm build
       run: npm run build
        
     - name: setup buildx
       uses: docker/setup-buildx-action@v3

     - name: Build docker image
       run: docker build -t portfolio .
     
     - name: Log in to github container registry
       uses: docker/login-action@v2
       with:
         registry: ghcr.io
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}

     - name: Lowercase Repo Owner
       run: |
         echo "REPO_OWNER=${OWNER,,}" >> ${GITHUB_ENV}
       env:
         OWNER: '${{ github.repository_owner }}'

     - name: Push to github container registry
       run: docker tag portfolio ghcr.io/${{ github.repository_owner }}/portfolio:latest && docker push ghcr.io/${{ github.repository_owner }}/portfolio:latest

